@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #343541;
  color: #fff;
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.fill-space {
  flex: 1 1 auto;
}